Repository hyperledger/solang, pull requests merged in 2022-12, with the labels that each got.

#1087 Add basic `ink!` to solidity call integration test
  .github/workflows/test.yml
  integration/substrate/ink/caller/.gitignore
  integration/substrate/ink/caller/Cargo.toml
  integration/substrate/ink/caller/lib.rs
  integration/substrate/ink_cross_calls.spec.ts
  integration/substrate/inkee.sol
  integration/substrate/package.json
Labels: substrate

#1095 Use annotations for selectors
  CHANGELOG.md
  docs/examples/substrate/function_selector_override.sol
  docs/language/functions.rst
  integration/substrate/inkee.sol
  solang-parser/src/pt.rs
  solang-parser/src/solidity.lalrpop
  solang-parser/src/test.rs
  src/bin/idl/mod.rs
  src/sema/ast.rs
  src/sema/contracts.rs
  src/sema/dotgraphviz.rs
  src/sema/eval.rs
  src/sema/expression.rs
  src/sema/function_annotation.rs
  src/sema/functions.rs
  src/sema/statements.rs
  tests/contract_testcases/evm/selector_override.dot
  tests/contract_testcases/evm/selector_override.sol
  tests/contract_testcases/solana/annotations_bad.dot
  tests/contract_testcases/solana/functions/selector_override.dot
  tests/contract_testcases/solana/functions/selector_override.sol
  tests/contract_testcases/solana/functions/selectors-must-be-different.dot
  tests/contract_testcases/solana/functions/selectors-must-be-different.sol
  tests/contract_testcases/solana/selector_override.dot
  tests/contract_testcases/solana/selectors-must-be-different.dot
  tests/contract_testcases/substrate/selector_override.dot
  tests/contract_testcases/substrate/selector_override.sol
  tests/contract_testcases/substrate/selector_override_inherited.dot
  tests/contract_testcases/substrate/selector_override_inherited.sol
  tests/doc_examples.rs
  tests/substrate_tests/functions.rs
Labels: solana

#1103 Ensure no data is returned when a function has no return values
  src/codegen/dispatch.rs
  tests/solana.rs
Labels: solana

#1105 Make instruction data compatible with anchor
  integration/anchor/package.json
  integration/solana/package.json
  src/codegen/constructor.rs
  src/codegen/dispatch.rs
  src/codegen/expression.rs
  src/codegen/mod.rs
  src/codegen/yul/tests/expression.rs
  src/emit/functions.rs
  src/emit/solana/mod.rs
  src/emit/solana/target.rs
  src/sema/ast.rs
  src/sema/contracts.rs
  stdlib/bpf/solana.bc
  stdlib/solana.c
  stdlib/solana_sdk.h
  tests/codegen_testcases/solidity/borsh_decoding_simple_types.sol
  tests/solana.rs
  tests/solana_tests/create_contract.rs
Labels: solana, breaking

#1104 Generate Anchor IDL from Solidity contracts ⚓
  Cargo.toml
  src/abi/anchor.rs
  src/abi/mod.rs
  src/abi/tests.rs
  src/bin/idl/mod.rs
  src/sema/yul/tests/block.rs
  src/sema/yul/tests/switch.rs
  tests/borsh_encoding.rs
  tests/solana.rs
  tests/solana_tests/abi.rs
  tests/solana_tests/abi_decode.rs
  tests/solana_tests/abi_encode.rs
  tests/solana_tests/accessor.rs
  tests/solana_tests/account_info.rs
  tests/solana_tests/arrays.rs
  tests/solana_tests/balance.rs
  tests/solana_tests/builtin.rs
  tests/solana_tests/call.rs
  tests/solana_tests/constant.rs
  tests/solana_tests/create_contract.rs
  tests/solana_tests/destructure.rs
  tests/solana_tests/events.rs
  tests/solana_tests/expressions.rs
  tests/solana_tests/hash.rs
  tests/solana_tests/mappings.rs
  tests/solana_tests/math.rs
  tests/solana_tests/metas.rs
  tests/solana_tests/modifiers.rs
  tests/solana_tests/primitives.rs
  tests/solana_tests/rational.rs
  tests/solana_tests/returns.rs
  tests/solana_tests/signature_verify.rs
  tests/solana_tests/simple.rs
  tests/solana_tests/storage.rs
  tests/solana_tests/strings.rs
  tests/solana_tests/unused_variable_elimination.rs
  tests/solana_tests/using.rs
  tests/solana_tests/vector_to_slice.rs
  tests/solana_tests/yul.rs
Labels: solana
