Repository hyperledger/solang, pull requests merged in 2022-09, with the labels that each got.

#1011 Fix function calls via contract name
  src/sema/expression.rs
  tests/contract_testcases/solana/constant/not_constant.dot
  tests/contract_testcases/substrate/inheritance/base_contract_access_via_name.dot
  tests/contract_testcases/substrate/inheritance/base_contract_access_via_name.sol
  tests/contract_testcases/substrate/inheritance/base_contracts_access_named_args_via_name.dot
  tests/contract_testcases/substrate/inheritance/base_contracts_access_named_args_via_name.sol
Labels: bug

#1022 Substrate: Remove seal_tombstone_deposit
  docs/language/builtins.rst
  src/codegen/mod.rs
  src/codegen/tests.rs
  src/emit/substrate/mod.rs
  src/emit/substrate/target.rs
  src/sema/ast.rs
  src/sema/builtin.rs
  src/sema/mutability.rs
  tests/contract_testcases/substrate/builtins/block_02.dot
  tests/contract_testcases/substrate/builtins/block_02.sol
  tests/contract_testcases/substrate/builtins/block_03.dot
  tests/contract_testcases/substrate/builtins/block_03.sol
  tests/contract_testcases/substrate/builtins/block_04.dot
  tests/contract_testcases/substrate/builtins/block_04.sol
  tests/contract_testcases/substrate/builtins/block_05.dot
  tests/contract_testcases/substrate/builtins/block_05.sol
  tests/contract_testcases/substrate/builtins/block_06.dot
  tests/contract_testcases/substrate/builtins/block_06.sol
  tests/substrate.rs
  tests/substrate_tests/builtins.rs
Labels: substrate

#1021 On Solana, stack allocations must happen in the first block
  src/emit/instructions.rs
  src/emit/mod.rs
  src/emit/solana/target.rs
  src/emit/substrate/target.rs
  tests/solana_tests/builtin.rs
Labels: solana

#1025 Update seal calls
  src/emit/substrate/mod.rs
  src/emit/substrate/storage.rs
  src/emit/substrate/target.rs
  src/linker/wasm.rs
  tests/substrate.rs
Labels: substrate
