Repository hyperledger/solang, pull requests merged in 2023-09, with the labels that each got.

#1516 Polkadot: Support errors according to `solc`
  docs/language/statements.rst
  docs/targets/polkadot.rst
  integration/polkadot/debug_buffer_format.spec.ts
  integration/polkadot/runtime_errors.spec.ts
  integration/polkadot/try_catch.sol
  integration/polkadot/try_catch.spec.ts
  integration/solana/runtime_errors.spec.ts
  src/abi/polkadot.rs
  src/codegen/revert.rs
  src/codegen/statements/mod.rs
  src/codegen/statements/try_catch.rs
  src/emit/binary.rs
  src/emit/strings.rs
  src/sema/ast.rs
  src/sema/statements.rs
  tests/contract_testcases/polkadot/calls/try_catch_constructor_07.sol
  tests/contract_testcases/polkadot/calls/try_catch_constructor_08.sol
  tests/contract_testcases/polkadot/calls/try_catch_external_calls_04.sol
  tests/contract_testcases/polkadot/errors/custom_error_01.sol
  tests/contract_testcases/polkadot/errors/custom_error_02.sol
  tests/contract_testcases/polkadot/errors/custom_error_03.sol
  tests/contract_testcases/polkadot/errors/custom_error_04.sol
  tests/contract_testcases/polkadot/errors/custom_error_05.sol
  tests/evm.rs
  tests/polkadot_tests/abi.rs
  tests/polkadot_tests/calls.rs
  tests/polkadot_tests/errors.rs
  tests/solana_tests/runtime_errors.rs
Labels: polkadot

#1543 Add ecrecover() builtin for EVM
  src/codegen/expression.rs
  src/sema/ast.rs
  src/sema/builtin.rs
  tests/contract_testcases/evm/ecrecover.sol
  tests/evm.rs
Labels: EVM

#1531 Verify account space specified in annotation
  src/bin/languageserver/mod.rs
  src/codegen/mod.rs
  src/codegen/revert.rs
  src/codegen/solana_deploy.rs
  src/sema/ast.rs
  src/sema/dotgraphviz.rs
  src/sema/eval.rs
  src/sema/function_annotation.rs
  tests/contract_testcases/solana/annotations/bad_accounts.sol
  tests/contract_testcases/solana/annotations/invalid_space.sol
  tests/contract_testcases/solana/annotations/not_enough_space.sol
  tests/contract_testcases/solana/annotations/not_enough_space_2.sol
  tests/solana_tests/create_contract.rs
Labels: solana
